@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

input {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 500px;
}

i {
  position: relative;
  right: 30px;
}
